/* #login {
    position: absolute;
    top: 25vh;
    left: 90vh;
}

#CARMain {
    position: absolute;
    top: 25vh;
    left: 90vh;
}

#homepageDiv {
    position: absolute;
    top: 25vh;
    left: 90vh;
} */

.mainDiv {
    position: absolute;
    top: 10vh;
    left: 90vh;
}

#headerDiv {
    display: flex;
    align-items: center;
    gap: 10px;
}

#itemBack {
    background-color: transparent;
    color: blue;
    border: 0;
    margin-right: -7px;
    margin-top: 2px;
    margin-left: -40px;
}

.card {
    background-color: lightgrey;
    border: solid grey 1px;
    border-radius: 5px;
    padding: 3px;
    margin-top: 2px;
    margin-bottom: 10px;
    min-width: 400px;
    min-height: 100px;
    transition: all 1s;
}

.card:hover {
    background-color: lightblue;
    transform: scale(1.1);
    transition: all 1s;
}

#CreateAccountLink {
    background-color: white;
    color: blue;
    border: 0;
    padding-bottom: .1px;
}

#CreateAccountLink:hover {
    border-bottom: solid blue 2px;
}

#createCB {
    margin-bottom: 10px;
    margin-right: 5px;
    border-radius: 5px;
    border: solid rgba(0,0,0,.5) 1px;
    background-color: rgba(39, 77, 112, 0.8);
    color: white;
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 1);
}

#createItemButton {
    border-radius: 5px;
    border: solid rgba(0,0,0,.5) 1px;
    background-color: rgba(39, 77, 112, 0.8);
    color: white;
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 1);
}

#pSaveButton {
    border-radius: 5px;
    border: solid rgba(0,0,0,.5) 1px;
    background-color: rgba(39, 77, 112, 0.8);
    color: white;
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 1);
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 10px;
}

#createCB:hover, #createItemButton:hover, #pSaveButton:hover {
    transform: translateY(-2px);
    border: solid black 1px;
}

#createCB:active, #createItemButton:active, #pSaveButton:active {
    transform: translateY(-1px);
    border: solid black 1px;
}



/* body {
    position: absolute;
    top: 25vh;
    left: 90vh;
} */


.sidebar {
    width: 3%;
    height: 100%;
    position: fixed;
    top: 8;
    left: 0;
    transition: all .15s ease-in;
}
.sidebar.active {
    width: 10%;
    transition-delay: .2s;
    transition-property: all;
    transition-duration: .2s;
    transition-timing-function: ease-in-out;
}

.sidebarButton {
    margin-left: 50px;
    margin-top: 10px;
    transform: scale(1.1);
}
#sidebarButton {
    transition: all .15s ease-in;
    margin-top: 5px;
    margin-bottom: 7px;
    margin-left: 5px;
    border-radius: 20px;
    border:1px solid grey;
    box-shadow: 0px 3px lightgrey;
}

#sidebarButton:hover {
    background:rgb(117, 160, 173);
    border: 2px solid yellow;
    box-shadow: 0 0;
}

#sidebarButton.active {
    transform: translateX(15vh);
    transition-delay: .2s;
    transition-property: all;
    transition-duration: .2s;
    transition-timing-function: ease-in-out;
}

.sidebarButtonDiv {
    border-right: 2px solid grey;
    border-bottom: 2px solid grey;
    width: 100%;
    align-content: center;
}

.sidebarContentsClosed {
    transform: translateX(-300%);
    width: 100%;
    height: 100%;
    transition: all .15s ease-in;
}

.sidebarContentsOpened {
    width: 100%;
    height: 100%;
    transform: translateX(0);
    padding-top: 5px;
    padding-bottom: 7px;
    background-color: white;    
    border-right: 2px solid grey;
    transition: all .4s ease-in-out;

}

.doubleCard {
    display: flex;
    gap: 1rem;
    margin-left: -21vh;
}

.card1, .card2 {
    display: absolute;
    background-color: lightgrey;
    border: solid grey 1px;
    border-radius: 5px;
    padding: 3px;
    margin-top: 2px;
    margin-bottom: 10px;
    min-width: 300px;
    min-height: 100px;
    transition: all 2s;
}

.card1:hover, .card2:hover {
    background-color: lightblue;
    transform: scale(1.1);
    transition: all 1s;
}

#newItemNameDiv {
    display: flex;
}

#newItemText {
    margin-left: 10px;
}

#newItemNameBox {
    height: 30px;
    margin-top: 10px;
    margin-left: 45px;
    width: 64%;
}

#newItemDescDiv {
    display: flex;
}

#newItemDescBox {
    margin-top: 10px;
    min-width: 32vh;
    min-height: 100px;
}

#newItemDescText {
    margin-right: 10px;
    margin-left: 8px;
}

#newItemfooterDiv {
    position: absolute;
    width: 100%;
    border-top: 1px solid black;
    bottom: 0;
    font-size: 12px;
    font-weight: bold;
}

input[type = text], textarea {
    border-radius: 5px;
    border: 2px solid black;
}

.hide {
    visibility: hidden;
    height: 0;
    width: 0;
    transition: none !important;
    border: 0px rgba(0, 0, 0, 0);
    color: rgba(0, 0, 0, 0);
    background-color: rgba(0, 0, 0, 0);
}

#itemDesc {
    margin-left: 5px;
}

#pContentDiv{
    min-height: 30%;
}

#itemDescDiv {
    margin-left: 10px;
    margin-right: 10px;
    border: 2px solid black;
    border-radius: 5px;
    transition: 1s;
}

#itemDescDiv:hover {
    animation: selectDiv;
    animation-duration: .95s;
}

#itemDescDiv.entered {
    background-color: blue; color: white;
    transform: scale(.95);
    transition: 1s;
}

#itemDescDiv.entered:active {
    transform: translatey(-2px);
    transition: 0s;
}

@keyframes selectDiv {
    10% {transform: translatey(-1px);}
    20% {transform: translatey(-2px);}
    30% {transform: translatey(-3px);}
    40% {transform: translatey(-2px);}
    50% {transform: translatey(-1px);}
    60% {rotate: 1deg;}
    70% {rotate: -1deg;}
    80% {rotate: 1deg;}
    90% {rotate: -1deg;}
    100% {rotate: 0deg}
}

#exitTA {
    position: fixed;
    background-color: rgba(0, 0, 0, 0);
    border: 0px;
    margin-left: 2px;
    font-size: 30px;
}

#exitTA:hover {
    color: red;
}

#itemTextArea {
    margin-left: 25px;
    min-width: 50%;
    min-height: 20%;
}

#cardDelete {
    z-index: 1000;
}

#infoDiv {
    position: fixed;
    background-color: rgba(0, 0, 0, 0.75);
    color: white;
    border: 1px solid white;
}

#infoText {
    margin-left: 10px;
    margin-right: 10px;
    font-size: 14px;
}



