/* #login {
    position: absolute;
    top: 25vh;
    left: 90vh;
}

#CARMain {
    position: absolute;
    top: 25vh;
    left: 90vh;
}

#homepageDiv {
    position: absolute;
    top: 25vh;
    left: 90vh;
} */

.mainDiv {
    position: absolute;
    top: 25vh;
    left: 90vh;
}

.card {
    background-color: lightgrey;
    border: solid grey 1px;
    border-radius: 5px;
    padding: 3px;
    margin-top: 2px;
    margin-bottom: 10px;
    min-width: 400px;
    min-height: 100px;
    transition: all 2s;
}

.card:hover {
    background-color: lightblue;
    transform: scale(1.1);
    transition: all 1s;
}

#CreateAccountLink {
    background-color: white;
    color: blue;
    border: 0;
    padding-bottom: .1px;
}

#CreateAccountLink:hover {
    border-bottom: solid blue 2px;
}

#createCB {
    margin-bottom: 10px;
    margin-right: 5px;
    border-radius: 5px;
    border: solid rgba(0,0,0,.5) 1px;
    background-color: rgba(39, 77, 112, 0.8);
    color: white;
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 1);
}

#createCB:hover {
    transform: translateY(-2px);
    border: solid black 1px;
}

#createCB:active {
    transform: translateY(-1px);
    border: solid black 1px;
}

/* body {
    position: absolute;
    top: 25vh;
    left: 90vh;
} */


.sidebar {
    width: 5%;
    height: 100%;
    position: fixed;
    top: 8;
    left: 0;
    transition: all .15s ease-in;
    
}
.sidebar.active {
    width: 10%;
    transition-delay: .2s;
    transition-property: all;
    transition-duration: .2s;
    transition-timing-function: ease-in-out;
}

#sidebarButton {
    transition: all .15s ease-in;
    margin-top: 5px;
    margin-bottom: 7px;
    margin-left: 5px;
    border-radius: 20px;
    border:1px solid grey;
    box-shadow: 0px 3px lightgrey;
}

#sidebarButton:hover {
    background:rgb(117, 160, 173);
    border: 2px solid yellow;
    transform: translate(0, 2px);
    box-shadow: 0 0;
}

#sidebarButton.active {
     transform: translateX(14vh);
     transition-delay: .2s;
     transition-property: all;
     transition-duration: .2s;
     transition-timing-function: ease-in-out;
}

.sidebarButtonDiv {
    border-right: 2px solid grey;
    border-bottom: 2px solid grey;
    width: 100%;
    align-content: center;
}

.sidebarContentsClosed {
    transform: translateX(-300%);
    width: 100%;
    height: 100%;
    transition: all .15s ease-in;
}

.sidebarContentsOpened {
    width: 100%;
    height: 100%;
    transform: translateX(0);
    padding-top: 5px;
    padding-bottom: 7px;
    background-color: blue;    
    border-right: 2px solid grey;
    transition: all .4s ease-in-out;

}

.sidebarButton {
    margin-left: 50px;
    margin-top: 10px;
    transform: scale(1.1);
}

.doubleCard {
    display: flex;
    gap: 1rem;
    margin-left: -23vh;
}

.card1, .card2 {
    display: absolute;
    background-color: lightgrey;
    border: solid grey 1px;
    border-radius: 5px;
    padding: 3px;
    margin-top: 2px;
    margin-bottom: 10px;
    min-width: 300px;
    min-height: 100px;
    transition: all 2s;
}

.card1:hover, .card2:hover {
    background-color: lightblue;
    transform: scale(1.1);
    transition: all 1s;
}

