/* #login {
    position: absolute;
    top: 25vh;
    left: 90vh;
}

#CARMain {
    position: absolute;
    top: 25vh;
    left: 90vh;
}

#homepageDiv {
    position: absolute;
    top: 25vh;
    left: 90vh;
} */

.mainDiv {
    position: absolute;
    top: 25vh;
    left: 90vh;
}

#CreateAccountLink {
    background-color: white;
    color: blueviolet;
    border: 0;
    padding-bottom: .1px;
}

#CreateAccountLink:hover {
    border-bottom: solid blue 2px;
}

/* body {
    position: absolute;
    top: 25vh;
    left: 90vh;
} */